#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 112px;
    z-index: 999;
    box-shadow: 3px 3px 10px grey;
}

h1 a {
    display: inline-block;
    width: 300px;
    margin: 32px; 
}

h1 a img {
    width: 100%;
}

nav {
    width: 35%;
}

#gnb {
    display: flex;
    justify-content: space-evenly;
    margin-right: 35px;
    font-size: 15px;
    align-items: center;
}

#gnb::before {
    content: "";
    width: 100%;
    position:absolute;
    top: 85px;
    left: 0;
    height: 180px;
    background: #fff;
    display: block;
}

#gnb::before {
    display: none;
}

#gnb.on::before {
    display: block;
}

#gnb .snb {
    display: none;
    position: absolute;
    top: 100px;
}

#gnb.on > .snb {
    display: block;
}

.xi-bars {
    display: none;
    position: absolute;
    right: 15px;
    font-size: 24px;
}

.hambeger-menu {
    display: none;
}

#main-slider-section {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 200px;
}

.main-slide {
    display: flex;
}

.main_banner {
    background-size: cover;
    background-position: 75%;
    width: 100vw;
    flex-shrink: 0;
    height: 920px;
}

.main_banner .link-container {
    width: 100%;
    height: 100%;
}

.link {
    display: block;
    width: 100%;
    height: 100%;
}

.main_banner .text-container {
    padding-left: 15%;
    padding-top: 15%;
}

.main_banner .text-contain a {
    display: block;
    padding-left: 15%;
    padding-top: 15%;
}

.main_banner h2 {
    font-size: 60px;
    font-weight: bold;
    color: #302323;
    margin-bottom: 50px;
}

.main_banner p {
    font-size: 24px;
    color: #4E3232;
    margin-bottom: 34px;
}

.main_banner span {
    display: inline-block;
    border: 1px solid #302323;
    border-radius: 2px;
    font-size: 18px;
    padding: 10px 50px;
}

.main-btn {
    border: 1px solid #A9A8A8;
    background-color: #A9A8A8;
    border-radius: 30px;
    width: 167px;
    height: 44px;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.xi-arrow-left , .xi-arrow-right {
    font-weight: bold;
}

.xi-arrow-left {
    padding-right: 25px;
}

.xi-arrow-right {
    padding-left: 25px;
}

#brand {
    display: flex;
    margin-bottom: 110px;
    position: relative;
}

.brand-content {
    flex-direction: column;
    width: 960px;
    height: 960px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px;
    box-sizing: border-box;
}    

.brand-content::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-color: black;
    opacity: 0.5;
}

#brand .unit-link {
    color: #FCF8F8;
    fill: none;
    text-align: center;
    position: relative;
}

#brand h3 {
    margin-bottom: 28px;
}

#brand p {
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 25px;
}

#brand .unit-button {
    color: #FCF8F8;
    border-top: 1px solid #FCF8F8;
    border-bottom: 1px solid #FCF8F8;
    padding: 10px;
    position: relative;
}

#menu-story {
    margin-bottom: 160px;
}

#menu-story h3 {
    text-align: center;
    margin-bottom: 110px;
    color: #302323;
    font-weight: bold;
}

#menu-story > ul {
    font-size: 30px;
    font-weight: bold;
    color: #302323;
    margin-bottom: 64px;
}

#menu-story > ul > li {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-story > ul > li:first-of-type {
    border-right: 2px solid black;
    padding: 0 72px;
}

#menu-story > ul > li:last-of-type {
    padding: 0 72px;
}

#menu-story .tap-menu-container {
    position: relative;
}

#menu-story ul {
    display: flex;
    overflow: hidden;
    justify-content: center;
}

#menu-story .tap-menu-container img {
    display: inline-block;
    width: 355px;
    height: 322px;
}

#menu-story .tap-menu-container_01 {
    gap: 150px;
}

#menu-story .tap-menu-container P {
    text-align: center;
    font-size: 20px;
}

#menu-story .tap-menu-container_02 {
    display: none;
    gap: 150px;
}

#menu-story .menu-slider {
    display: flex;
    margin: 50px 0 0 190px;
    align-items: center;
}

.xi-long-arrow-left {
    padding-right: 15px;
}

.xi-long-arrow-right {
    padding-left: 15px;
}

#menu-story .slider-scroll {
    border-radius: 36px;
    background-color: #D9D9D9;
    width: 1350px;
    height: 10px;
}

#menu-story .scroll {
    border-radius: 30px;
    color: #242424;
    background-color: #242424;
    display: block;
    width: 200px;
    height: 100%;
}

#menu-story .more {
    text-align: center;
    margin-top: 80px;
}

#menu-story a > span {
    border: 1px solid #1B1212;
    border-radius: 30px;
    color: #1B1212;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
}

#service {
    position: relative;
    background-position-x: center;
    padding: 114px 32px;
}

#service::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-color: black;
    opacity: 0.5;
}

#service h3 {
    color: #F4F4F4;
    font-weight: bold;
    margin-bottom: 60px;
}

#service p {
    color: #F4F4F4;
    font-size: 24px;
    font-weight: bold;
}

#service p:first-of-type {
    margin-bottom: 24px;
}

#service .service-container {
    position: relative;
    background-position: center;
    background-size: cover;
    max-width: 1200px;
    display: flex;
    margin:0 auto;
    justify-content: center;
}

#service .text-contain, .box-contain {
    position: relative;
}

#service .text-contain {
    margin-right: 24px;
    flex-basis: 50%;
}

#service .box-contain {
    flex-basis: 50%;
    box-sizing: border-box;
}

#service input {
    width: 270px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 5px;
    background-color: rgba(255,255,255,0.7);
    border-style: solid;
    margin: 8px 0;
    box-sizing: border-box;
}

#service .box-contain-flex {
    display: flex;
    justify-content: space-between;
}

#service textarea {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.7);
}

#service input[type="submit"] {
    width: 150px;
    height: 50px;
    font-size: 30px;
    display: block;
    margin-left: auto;
    background-color: rgba(255,255,255,0.7);
}

#beanstagram .xi-instagram {
    display: block;
}

#beanstagram h3 {
    color: #302323;
    text-align: center;  
    font-weight: bold;
    margin: 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#beanstagram .rotation ul {
    display: flex;
    overflow: hidden;
}

#beanstagram .rotation li {
    width: 370px;
    height: 400px;
    background-size: cover;
    background-position: center;
    margin-right: 50px;
    margin-bottom: 270px;
    flex-shrink: 0;
}

#store .store-container {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    gap: 150px;
}


#store .store-container h3 {
    color: #302323;
    font-weight: bold;
}

#store .store-container p {
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 20px;
}

#store .store-container img {
    width: 390px;
    height: 390px;
    border-radius: 100%;
}

#store .store-img {
    margin-bottom: 300px;
}

#store a {
    border: 1px solid #1B1212;
    border-radius: 30px;
    color: #1B1212;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
}

footer {
    background-color: #1C1C1C;
    color: #8E8E8E;
    width: 100%;
    height: 204px;
    font-size: 15px;
}

.foot-container {
    padding: 70px;
    display: flex;
    justify-content: space-between;
}

.foot-container .sns-link a {
    text-align: right;
    color: #ffff;
    margin-right: 20px;
}

@media screen and (max-width:1200px) {
    html, body {
        width: 100%;
        overflow-x: hidden;
    }

    #header {
        height: 98px;
    }

    #header nav {
        display: none;
        flex-direction: column;
    }

    #header nav ul {
        flex-direction: column;
        align-items: center;
    }

    #header .hambeger-menu {
        display: none;
    }

    .xi-market {
        position: absolute;
        right: 55px;
    }

    .xi-bars {
        display: block;
        font-size: 30px;
    }

    main {
        padding-top: 99px;
    }
    
    .hambeger-menu ul li:hover {
        display: block;
        width: 100%;
        background-color: white;
    }

    #main-slider-section {
        margin-bottom: 100px;
    }

    #main-slider-section .main_banner {
        height: 700px;
    }

    #main-slider-section .main_banner a {
        padding: 15px 15px;
    }

    #main-slider-section .main-btn {
        width: 100px;
        height: 28px;
        line-height: 30px;
    }

    .xi-arrow-left {
        padding-right: 10px;
        font-size: 16px;
    }

    .xi-arrow-right {
        padding-left: 10px;
        font-size: 16px;
    }

    #brand {
        flex-direction: column;
        height: auto;
    }

    #brand .brand-content {
        width: 100%;
        height: 834px;
    }
    
    #menu-story .tap-menu-container_01 {
        gap: unset;
    }

    #menu-story .tap-menu-container_02 {
        gap: unset;
    }

    #menu-story .menu-slider {
        margin-left: 0;
    }

    .xi-long-arrow-left, .xi-long-arrow-right {
        display: none;
    }

    #service p {
        margin-bottom: 70px;
    }

    #service .service-container {
        position: relative;
        background-position: center;
        background-size: cover;
    }

    #service input[type="submit"] {
        display: block;
        margin-left: auto;
    }

    #beanstagram .rotation li {
        width: 250px;
        height: 308px;
        margin-bottom: 170px;
    }

    #store .store-container {
        flex-direction: column;
    }

    #store .store-text br {
        display: none;
    }

    #store .store-img {
        margin-top: 30px;
        margin-bottom: 200px;
    }
}

@media screen and (max-width:600px) {

    h1 a img {
        width: 50%;
    }

    #main-slider-section {
        margin-bottom: 80px;
    }
    
    .main_banner {
        height: 340px;
    }

    #main-slider-section .main_banner a {
        padding: 10px 10px;
    }

    .main-btn {
        display: none;
    }

    #brand {
        margin-bottom: 80px;
    }

    #brand .brand-content {
        width: 100%;
        height: 800px;
    }

    #menu-story h3 {
        margin-bottom: 60px;
    }
    
    #menu-story > ul > li {
        margin-bottom: 30px;
    }

    #menu-story > ul > li:first-of-type {
        border-right: 2px solid black;
        padding: 0 20px;
    }

    #menu-story > ul > li:last-of-type {
        padding: 0 20px;
    }

    #menu-story .tap-menu-container p {
        font-size: 16px;
    }

    #menu-story .menu-slider {
        display: none;
    }

    #menu-story .more {
        margin-top: 60px;
    }

    #service {
        width: 100%;
    }

    #service .service-container {
        flex-direction: column;
    }

    #service .box-contain {
        width: 90%;
    }

    #service input {
        width: 100%;
        height: 50px;
        font-size: 18px;
    }

    #service .box-contain-flex {
        display: flex;
        flex-direction: column;
    }

    #service textarea {
        width: 100%;
        font-size: 18px;
    }

    #service input[type="submit"] {
        width: 98px;
        height: 40px;
        font-size: 25px;
    }

    #beanstagram .rotation li {
        width: 170px;
        height: 200px;
    }

    #store .store-img {
        margin-bottom: 100px;
    }

    #store .store-container img {
        width: 350px;
        height: 350px;
    }

    #store .store-text a {
        padding: 10px 40px;
    }

    footer {
        height: 280px;
    }

    .foot-container {
        flex-direction: column;
    }

    .foot-container .sns-link {
        padding-top: 30px;
    }
}


/* slide 전체 링크 css */
.main_banner .a-block {
    display: block;
    border: none;
    width: 100%;
    height: 100%;
}